<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCT5ZKAOKXuqbC-jK_7oS_VE5-9rwVEmgw</string>
	<key>GCM_SENDER_ID</key>
	<string>947422770477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.secondevaluation.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>evaluationproject-6abcc</string>
	<key>STORAGE_BUCKET</key>
	<string>evaluationproject-6abcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947422770477:ios:3e727f93095c87ec894fa4</string>
</dict>
</plist>